@page
@model HomePetCare.App.Frontend.Pages.Details1Model
@{
}
<h2>Datos Propietario Mascota</h2>
<div>
    Id Persona: @Model.PropietarioMascota.IdPersona
    </div>
<div>
    Nombres: @Model.PropietarioMascota.Nombres
    </div>
<div>
    Apellidos: @Model.PropietarioMascota.Apellidos
    </div>
    <div>
    Direccion: @Model.PropietarioMascota.Direccion
    </div>
    <div>
    Telefono: @Model.PropietarioMascota.Telefono
    </div>
    <div>
    Ciudad: @Model.PropietarioMascota.Ciudad
    </div>
    <div>
    Correo: @Model.PropietarioMascota.Correo
    </div>
    <a asp-page="./List1" class="btn-default">Volver lista Propietario Mascota </a>

