@page
@model HomePetCare.App.Frontend.Pages.Details2Model
@{
}
<h2>Datos Veterinario</h2>
<div>
    Id Persona: @Model.Veterinario.IdPersona
    </div>
    <div>
    Nombres: @Model.Veterinario.Nombres
    </div>
    <div>
    Apellidos: @Model.Veterinario.Apellidos
    </div>
    <div>
    Direccion: @Model.Veterinario.Direccion
    </div>
    <div>
    Telefono: @Model.Veterinario.Telefono
    </div>
    <div>
    Tarjeta Profesional: @Model.Veterinario.TarjetaProfesional
    </div>
    
    <a asp-page="./List2" class="btn-default">Volver Veterinario </a>